.className1 {
    color: green;
    background: 'linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%)',
  }

  .appLayoutMain{
    width: 100%;
    height: 100vh;
    padding-top: 75px;
    background-color: #fff5f8;
  }